
@{
    ViewBag.Title = "AddReference";
    Layout = "~/Views/Shared/_PortfolioAdminLayout.cshtml";
}

<h2>Referans Ekleme Sayfası</h2>

<form method="post">
    <label>Referans Adı</label>
    <input type="text" class="form-control" name="ReferenceName" />
    <br />
    <label>Referans Ünvanı</label>
    <input type="text" class="form-control" name="ReferenceJob" />
    <br />
    <label>Referans Mail</label>
    <input type="text" class="form-control" name="ReferenceMail" />
    <br />
   
    <button class="btn btn-info"> Kaydet</button>

</form>