@model Casgem_Portfolio.Models.Entities.TblReference
@{
    ViewBag.Title = "UpdateReference";
    Layout = "~/Views/Shared/_PortfolioAdminLayout.cshtml";
}

<h2>Referans Güncelleme Sayfası</h2>

<form method="post">
    <label>Ad Soyad</label>
    @Html.TextBoxFor(x => x.ReferenceName, new { @class = "form-control" })
    <br />
    <label>Ünvan</label>
    @Html.TextBoxFor(x => x.ReferenceJob, new { @class = "form-control" })
    <br />
    <label>Mail Adresi</label>
    @Html.TextBoxFor(x => x.ReferenceMail, new { @class = "form-control" })
    <br />
   
    <button class="btn btn-success"> Güncelle</button>
</form>

